body {
  color:#111;
  font-size:14px;
  background-color:#222;
}

header, footer {
  background-color:#4bb9bd;
  opacity:0.8;
  position:absolute;
  z-index:80;
  }

header {
  height:40px;
  top:0;
  left:0;
  width:425px;
}

footer {
  padding:10px;
  bottom:0;
  right:0;
}


header h1 {
  margin:0 10px;
  font: 20px/40px 'Rosario', sans-serif;
}

header a, footer a {
  color:#474579;
}

#map {
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  top:0;
  }

.wax-tooltip {
  position:absolute;
  top:40px;
  left:0;
  width:415px;
  opacity:0.8;
  background-color:#bcc4a2;
  font: 20px/40px 'Rosario', sans-serif;
  padding:0 10px 0 0;
  -moz-transition:top 0.5s;
  -webkit-transition:top 0.5s;
  }

div.wax-fade {
  top:100px;
}

.bpm-bar {
  background-color:#4bb9bd;
  border-right:1px solid #258F92;
  padding-left:10px;
}

.bpm-bar span.label {
  font-size:14px;
}

.map-tile {
  opacity:0;
}

.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .1s;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


